{{define "pages/no_route.page.gohtml"}}

    {{template "globals/header.gohtml" .}}

    <div class="container">

        <div class="row">
            <h1 class="text-center mt-4">
            404: the page you are looking for doesn't exist.
            </h1>
        </div>

    </div>

    {{template "globals/footer.gohtml"}}

{{end}}