{{define "pages/no_route.page.tmpl"}}

    {{template "globals/header.tmpl"}}

    <div class="container">

        <div class="row">
            <h1 class="text-center mt-4">
            404: the page you are looking for doesn't exist.
            </h1>
        </div>

    </div>

    {{template "globals/footer.tmpl"}}

{{end}}