{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>This is the about page</h1>
                <p>Lorem Ipsum:</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia natus praesentium esse similique deleniti cumque, voluptatem nulla rerum adipisci autem veniam animi quasi eius. Blanditiis quos pariatur mollitia molestias placeat.</p>
            </div>
        </div>
    </div>
{{end}}